body {
	background-color:#4f5f3f;
}

.div-clear {
	clear:both;
}

.card{
	display:inline-block;
	width:45px;
	height:60px;
	text-align:center;
	background-color:#765e65;
//	background-image:url('../images/tictac-minion.png');
	background-size: 49px 64px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top:5px;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
//	-moz-box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
//    -webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .5), inset -4px -4px 2px rgba(0, 0, 0, .5);
//    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
}

#sidebar{
	display:inline-block;
	width:250px;
	margin:5px;
	vertical-align: top;
}

#main{
	display:inline-block;
	width:650px;
}

#options{
	display:inline-block;
	width:240px;
	height:200px;
	background-color:#00c000;
	padding:5px;
}

#status{
	display: inline-block;
	width:240px;
	height:200px;
	background-color:#0000c0;
	padding:5px;
}

#title{
	display: inline-block;
	vertical-align: middle;
	background-color:orange;
	margin-bottom:20px;
	width:100%;
	height:100px;
}

#board{
	display: inline-block;
	vertical-align: middle;
}

#messages{
	display: inline-block;
	vertical-align: middle;
	width:100%;
	height:100px;
	background-color:dodgerblue;
	margin-top:20px;
}

/*********************************************************************************/



/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

