body {
	background-color:#4f5f3f;
	background-color:#756075;
	background-color:#218D15;
}

h3{
	margin:5px 0 5px 0;
}

.div-clear {
	clear:both;
}

.card{

	display:inline-block;
    
	width:50px;
	height:65px;

	text-align:center;
	background-size: 50px 65px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top:5px;
//	margin: 4px 2px 4px 2px;
	border-radius:3px;
	vertical-align:top;
    box-shadow: 5px 5px 8px black;
	font-size:1.em;
}

.titlestyle{
	font-size:2.5em;
	font-family: 'times new roman', sans-serif;
}

.mmCard{
	background-color:#000000;
	box-shadow:none;
}

.button{
	border-radius:5px;
}

.container{
	display:inline-block;
    text-align:center;
}

.filler{
	display:inline-block;
	width:50px;
	text-align:center;
}

.bevel{
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
	animation-iteration-count:0;
	-moz-box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .5), inset -4px -4px 2px rgba(0, 0, 0, .5);
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .5), inset -4px -4px 4px rgba(0, 0, 0, .5);
}

.borderimg { 
    -webkit-border-image: url('images/myAlert.png') round; /* Safari 3.1-5 */
    -o-border-image: url('images/myAlert.png') round; /* Opera 11-12.1 */
    border-image: url('../../images/myAlert.png') round;
    border-image-slice: 10%;
    padding:20px;
    border-width:15px;
}

.spacer{
	display:inline-block;
	height:25px;
}

#sidebar{
	width:180px;
	margin:5px;
	vertical-align: top;
}

#mainbody{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    min-width:1000px;
    left:50%;
    margin-left:-500px;
    padding-top:20px;
    text-align:center;
}

#main{
	width:700px;
}

#options{
	display:inline-block;
	width:160px;
	height:200px;
	padding:10px;
	border-radius:10px;
	margin-bottom:20px;
	text-align:left;
	font-size:0.9em;
	font-family:Arial,sans-serif;
}

#status{
	position:relative;
	display:inline-block;
	width:160px;
	height:200px;
	padding:10px;
	border-radius:10px;
	text-align:left;
	font-size:0.9em;
	font-family:Arial,sans-serif;
}

#statusbuttons{
	position:absolute;
	bottom:10px;
	margin-top:10px;
	position:absolute;
	text-align:center;
}

#title{
	display:inline-block;
	vertical-align: middle;
	background-color:orange;
	text-align:center;
	line-height:50px;
	margin-bottom:20px;
	width:350px;
	height:50px;
	padding:5px;
	border-radius:10px;
	font-size:1.3em;
	box-shadow: -8px 8px 8px black;
}


#board{
	display:inline-block;
	vertical-align: middle;
    white-space:nowrap;
    word-spacing:0;
}

#messages{
	display:inline-block;
	width:300px;
	height:100px;
	background-color:dodgerblue;
	margin-top:20px;
	padding:10px;
	border-radius:10px;
	vertical-align: top;
	font-size:0.9em;
	font-family:Arial,sans-serif;
}

#mastermind{
	display:inline-block;
	width:250px;
	height:100px;
	background-color:dodgerblue;
	margin-top:20px;
	padding:10px;
	border-radius:10px;
	vertical-align: top;
}

/*********************************************************************************/

#myalert {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#myalert div {
     width:200px;
     height:100px;
     border-radius:20px;
     margin: 100px auto;
     background-color: #ffffff;
     padding:15px;
     text-align:center;
     font-size:14px;
}


#modalbutton{
	border-radius:5px;
}

/*************************************************************************************/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
.grad-grey{
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}


.grad-green{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: rgb(180,221,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

.grad-orange{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc300+0,e5daac+30,e2d9b5+50,e5daac+70,ffc300+100 */
background: rgb(255,195,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,195,0,1) 0%, rgba(229,218,172,1) 30%, rgba(226,217,181,1) 50%, rgba(229,218,172,1) 70%, rgba(255,195,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,195,0,1)), color-stop(30%,rgba(229,218,172,1)), color-stop(50%,rgba(226,217,181,1)), color-stop(70%,rgba(229,218,172,1)), color-stop(100%,rgba(255,195,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,195,0,1) 0%,rgba(229,218,172,1) 30%,rgba(226,217,181,1) 50%,rgba(229,218,172,1) 70%,rgba(255,195,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,195,0,1) 0%,rgba(229,218,172,1) 30%,rgba(226,217,181,1) 50%,rgba(229,218,172,1) 70%,rgba(255,195,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,195,0,1) 0%,rgba(229,218,172,1) 30%,rgba(226,217,181,1) 50%,rgba(229,218,172,1) 70%,rgba(255,195,0,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,195,0,1) 0%,rgba(229,218,172,1) 30%,rgba(226,217,181,1) 50%,rgba(229,218,172,1) 70%,rgba(255,195,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc300', endColorstr='#ffc300',GradientType=1 ); /* IE6-9 */
}

.grad-blue{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72b1e5+0,c5d5e2+100 */
background: rgb(114,177,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(114,177,229,1) 0%, rgba(197,213,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,177,229,1)), color-stop(100%,rgba(197,213,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(114,177,229,1) 0%,rgba(197,213,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(114,177,229,1) 0%,rgba(197,213,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(114,177,229,1) 0%,rgba(197,213,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(114,177,229,1) 0%,rgba(197,213,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b1e5', endColorstr='#c5d5e2',GradientType=0 ); /* IE6-9 */
}


